---
import Default from "./default.astro"
import Meta from "astro-meta"

const {content} = Astro.props
const {url} = Astro.request
const slug = String(url).replace("https://zenia.my.id/", "").replace("/", "")
const {headers} = content.astro
---

<Default>
	<Meta title={content.title} description={content.description} slot="head"/>

	<div slot="body">
		<link rel="stylesheet" href={Astro.resolve("../components/prism.css")}>
		<a href="/" class="logo">
			<img src={Astro.resolve('../components/logo.png')} alt="">
		</a>
		<div class="prose max-w-none postingan">
			<h1>{content.title}</h1>
			<p><em>{content.description}</em></p>
			{headers.length > 0 ? <div>
				<h2>Contents</h2>
				<ul>
					{headers.map(x => <li><a href={`#${x.slug}`}>{x.text}</a></li>)}
				</ul>
			</div> : ""}
			<slot/>

			<div id="disqus_thread"></div>
			{`<script>
    		/**
    		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    		var disqus_config = function () {
    			this.page.url = "${url}";  // Replace PAGE_URL with your page's canonical URL variable
    			this.page.identifier = "${slug}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    		};

    		(function() { // DON'T EDIT BELOW THIS LINE
    			var d = document, s = d.createElement('script');
    			s.src = 'https://zenia.disqus.com/embed.js';
    			s.setAttribute('data-timestamp', +new Date());
    			(d.head || d.body).appendChild(s);
    		})();
			</script>`}
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

		</div>
	</div>
</Default>

<style lang="postcss">
	@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

	.logo {
		@apply w-20 mt-8 block mx-auto;
	}
	.postingan {
		@apply p-5 px-5 md:px-[15%];
	}
	.postingan :global(p),
	.postingan :global(li) {
		@apply text-lg;
	}
	.postingan :global(code),
	.postingan :global(code *){
		font-family: 'Fira Code', monospace;
	}
	.postingan :global(img){
		@apply block mx-auto max-w-full;
	}
	.postingan :global(h1),
	.postingan :global(h2),
	.postingan :global(h3),
	.postingan :global(h4),
	.postingan :global(h5),
	.postingan :global(h6) {
		scroll-margin-top: 30px;
	}
</style>
