---
import Default from "./default.astro"
import Meta from "../components/meta.astro"
import Komentar from '../components/komentar.svelte'

const {content} = Astro.props
---

<Default>
	<Meta title={content.title} description={content.description} slot="head"/>

	<div slot="body">
		<link rel="stylesheet" href={Astro.resolve("../components/prism.css")}>
		<a href="/">
			<img src={Astro.resolve('../components/logo.png')} alt="">
		</a>
		<div class="prose max-w-none postingan">
			<h1>{content.title}</h1>
			<p><em>{content.description}</em></p>
			<slot/>

			<div class="komentar">
				<Komentar client:only='svelte'></Komentar>
			</div>

		</div>
	</div>
</Default>

<style lang="postcss">
	@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

	a {
		@apply w-20 mt-8 block mx-auto;
	}
	.postingan {
		@apply p-5 px-5 md:px-[15%];
	}
	.postingan :global(p),
	.postingan :global(li) {
		@apply text-lg;
	}
	.postingan :global(code),
	.postingan :global(code *){
		font-family: 'Fira Code', monospace;
	}
	.postingan :global(img){
		@apply block mx-auto max-w-full;
	}

	.komentar :global(*) {
		@apply focus:outline-none;
	}
	.komentar :global(.nama), 
	.komentar :global(textarea) {
		@apply border px-2 py-1 w-full block bg-gray-100 rounded;
	}
</style>
